<%- include('include/header') -%>


<main class="container">
    <div class="card d-flex justify-content-center p-5">
        <h3 class="text-center title">Join With Us.</h3>
        <form method="POST" class="d-flex flex-column justify-content-around " id="form">
            <div class="form-group mt-5 input-control">
                <input autocomplete="off" type="text" name="username" id="username" class="form-control inp" placeholder="User Name">
                <p class="err"></p>
                <i class="fa-solid fa-user icon"></i>
            </div>
            <div class="form-group mt-3 input-control">
                <input autocomplete="off" type="text" name="email" id="email" class="form-control inp" placeholder="Email">
                <p class="err"></p>
                <i class="fa-solid fa-envelope icon "></i>
            </div>
            <div class="form-group mt-3 input-control">
                <input autocomplete="off" type="password" name="password" id="password" class="form-control inp" placeholder="password">
                <p class="err"></p>
                <i id="passIcon" class="icon fa-solid fa-eye"></i>
            </div>
            <div class="form-group mt-3 mb-3 input-control">
                <input autocomplete="off" type="password" name="confirmpassword" id="confirm_password" class="form-control inp" placeholder="Confirm Password">
                <p class="err"></p>
                <i id="conPassIcon" class="icon fa-solid fa-eye"></i>
            </div>
            <button class="btn btn-primary" type="submit">Sign In</button>
        </form>
        <p>Already have account ? <a href="login">Sign In</a></p>
    </div>
    <div id="msgQueue"></div>
</main>


<script src="/js/register.js"></script>

<%- include('include/footer') -%>